@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply m-0 bg-neutral-50 text-neutral-900 font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}
